@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #222930;
}


.app{
  max-width: 75%;
  margin: 0 auto;
}
.top{
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #E9E9E9;
  border-bottom: 1px solid #4EB1BA;
  font-family: 'BenchNine', sans-serif;
  font-size: 24px;
  button{
    color: #4EB1BA;
    font-weight: bold;
  }
}
.mainDivs{
  width: 25%;
  float: left;
  margin: 20px 3.5%;
  background-color: #4EB1BA;
  border-radius: 5px;
  font-family: 'BenchNine', sans-serif;
  box-shadow: 0 10px 10px -5px #E9E9E9;
  color: #E9E9E9;

  h2{
    margin: 4px 8px;
    margin-top: 6px;
  }
   .likesCaption{
    padding: 4px;
    clear: left;
    max-width: 100%;
  } .likesCaption p{
      font-size: 20px;
      white-space: nowrap;
      width: 100%;                   
      overflow: hidden;             
      text-overflow: ellipsis;
      margin-bottom: 2px;
    } .likesCaption span{
      float: left;
    }
}
.imgDiv{
  max-width: 100%;
  background-color: #4EB1BA;
  padding: 5px;
  img{
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
  }
}
.imgDiv:hover{
  cursor: pointer;
}
.addDiv{
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #E9E9E9;
  border-bottom: 1px solid #4EB1BA;
  font-family: 'BenchNine', sans-serif;
}
.nameInput{
  width: 50%;
  margin: 2.5% 5%;
}
.imgInput{
  width: 50%;
  margin: 2.5% 5%;
}
.captionInput{
  width: 50%;
  height: 75px;
  margin: 2.5% 5%;
}
.btnClass{
  text-align: center;
}
.saveBtn{
  width: 18%;
  margin: 10px;
}
.backBtn{
  width: 18%;
  margin: 10px;
}
.chimichangas{
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 6px -6px #777;
  color: #E9E9E9;
  border-bottom: 1px solid #4EB1BA;
  font-family: 'BenchNine', sans-serif;
  font-size: 24px;

  img{
    display: block;
    max-width: 75%;
    margin: 0 auto;
    box-shadow: 0 10px 6px -6px #777;
  } .likesSpan{
    background-color: #E9E9E9;
    border-radius: 2px;
    color: #4EB1BA;
    font-weight: bold;
  } 
  button{
    color: #4EB1BA;
    font-weight: bold;
    margin: 3px;
  }
}
.enchiladas{
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 6px -6px #777;
  color: #E9E9E9;
  border-bottom: 1px solid #4EB1BA;
  font-family: 'BenchNine', sans-serif;
  font-size: 24px;
  img{
    display: block;
    max-width: 75%;
    margin: 0 auto;
    box-shadow: 0 10px 6px -6px #777;
  } .likesSpan{
    background-color: #E9E9E9;
    border-radius: 2px;
    color: #4EB1BA;
    font-weight: bold;
  } 
  button{
    color: #4EB1BA;
    font-weight: bold;
    margin: 3px;
  }
  input{
    display: block;
    margin: 3px auto;
    
  }
  textarea{
    display: block;
    margin: 3px auto;
  }
}